<appSettings>
  <add key="MailServer" value="dev-stmp.vidley.com"/>
  <add key="FacebookAppId" value="112453252749531"/>
  <add key="FacebookAppSecret" value="eb45ea33b5b6cb05e0bf6585f0548365"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>